body{
    width: 60%;
    margin: auto;
    margin-top: 10px;
    background-color: lightskyblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}
input{
    font-size: large;
}